*{
  font-family: 'Rubik';
}
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: gray;
}
 
a{
  color: black;
}

aside,#products {
  display: block;
}

aside > h2 {
  color: black;
  font-weight: 600;
}

#products {
  background-color: lightgray;
}

#products{
  padding: 5px
}

h1 {
  font-family: Rubik;
  color: Black;
  margin-bottom: 0;
  font-weight: bold;
}

h2 {
  color: black;
}

.center {
  display: block;
  text-align:center;
}


#content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(200px, auto));
  grid-gap: 10px;
  max-width: 800px;
  margin: 20px auto;
}
#content div{
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.product {
  text-align:center;
  font-size: 0.9em;
  line-height: 0.8em;
}
.product h3 {
  margin-bottom: 0px;
  font-style: bold;
}


#products {
  grid-area: main;
  width: 90%;
  max-width: 1300px;
  margin:auto auto;
}

aside {
  grid-area: aside;
}

footer { grid-area: footer; }

#layout {
  background-color: #efefef;
}

#layout {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-areas:
  'header header header header header'
  'main main  main main aside'
  'footer footer footer footer footer';
}

